body {
  background: black;
  color: white;
  text-align: center;
}

.column {
  flex: 50%;
}

.row {
  display: flex;
}

.App {
  margin-top: 10rem; 
  font-family: sans-serif;
  text-align: center;

}
