body {
  background: black;
  color: white;
  text-align: center;
}

.column {
  flex: 50%;
  border: 2px solid white;
  padding: 1rem;
}

.row {
  display: flex;
}

.button {
  font-family: "Gotham Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light"), url("GothamLight.woff") format("woff");
}

.App {
  margin-top: 10rem;
  text-align: center;
  font-family: "Gotham Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light"), url("GothamLight.woff") format("woff");
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Light"), url("GothamLight.woff") format("woff");
}
