body {
  background: black;
  color: white;
  text-align: center;
}

.column {
  flex: 50%;
  border: 2px solid white;
  padding: 2rem;
}

.row {
  display: flex;
}

.App {
  margin-top: 10rem;
  font-family: sans-serif;
  text-align: center;
}
